.container-order{
    position: relative;
}
.title-order{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 70px;
}
.container-seclect-food{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    align-self: center;
    justify-content: center;
    gap: 30px;
}
.img-food{
    display: inline;
}
.img-food img{
    width: 100px;
    border-radius: 15px;
}
.pro