.container-order{
    position: relative;
}
.title-order{
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 70px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
}
.container-seclect-food{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    justify-content: flex-start;
    gap: 30px;
    border: 1px solid white;
    padding: 30px 20px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
.img-food{
    display: inline;
}
.img-food img{
    width: 100px;
    border-radius: 15px;
}
.title-item{
    font-size: 20px;
}
.price-item{
    display: block;
    padding-top: 10px;
}
.inp-number{
    margin-top: 10px;
    width: 200px;
    border-radius: 5px;
}

.container-delivery-title{
    position: absolute;
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    padding: 30px 20px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

input{
    border: 0px;
    border-radius: 5px;
    padding: 5px 2px ;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
}
label{
    font-family: "Poppins", sans-serif;
}