body {
  overflow-x: scroll;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
}

nav {
  height: 80px;
  width: 100%;
}
label.logo {
  padding: 0 100px;
}
nav ul {
  float: right;
  margin-right: 50px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #e7614a;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

ul:hover li {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

ul:hover li:hover {
  transform: scale(1.2);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.container-section-search {
  text-align: center;
  margin-top: 15px;
}

.background-search {
  height: 250px;
}

.background-search img {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.form {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
}

.input-search {
  width: 35%;
  height: inherit;
}

.btn-search {
  background-color: rgba(250, 59, 59, 0.849);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding: 3px;
}

#section-collection {
  position: relative;
}
.container-section-collection{
  height: max-content;
}

.explore-food {
  padding-top: 70px;
  text-align: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

.collection-food{
  width: 100%;
}

.list-food {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.list-food li {
  width: 330px;
  height: 400px;
  transition: 0.2s all;
}

.list-food li:hover {
  transform: scale(1.1);
}

.list-food li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.list-food li span {
  font-family: "Poppins", sans-serif;
  display: block;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: -50px;
}

article {
  background-color: #ececec;
}

.title-food-menu {
  padding-top: 70px;
  font-size: 24px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.container-menu {
  padding-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-auto-rows: 180px;
  justify-items: center;
  font-family: "Poppins", sans-serif;
}

.container-item:nth-child(odd) {
  justify-self: end;
}

.container-item:nth-child(even) {
  justify-self: start;
}

.container-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.container-item img {
  width: 25%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 28px;
}

.container-item .item-content {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 28px;
}

.item-content {
  display: inline-block;
}

.title-item {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
}

.price-item {
  line-height: 25px;
  font-weight: bold;
}

.des-item {
  font-size: 14px;
  line-height: 20px;
  color: #747d9c;
}

.oder-item {
  text-decoration: none;
  background-color: #f56b81;
  color: white;
  border-radius: 5px;
  padding: 3px;
  display: inline-block;
}

.footer-food-menu {
  margin-top: 30px;
}

.see-all-foods {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #f56b81;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
  transition: 0.2s all;
}

.see-all-foods:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.social-network-icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon-insta {
  margin: 0 30px;
}

.license {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.license p {
  text-align: center;
}

.license p a {
  text-decoration: none;
  color: #e7614a;
}

@media (max-width: 952px) {
  label.logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .container-item:nth-child(odd){
  justify-self:center;
}
  .container-item:nth-child(even){
    justify-self: center;
  }
}
@media (max-width: 858px) {
  i {
    color: black;
  }
  .checkbtn {
    display: block;
  }
  .navbar {
    position: fixed;
    width: 100%;
    height: 250px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
    background-color: #ffffff;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
.container-section-collection{
  height: max-content;
}

}
section {
  position: relative;
}

@media (max-width: 374px) {
  label.logo {
    top: -50px;
  }
}
/* article{
  position: relative;
  top: 200px;
} */
