.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    margin-left: 100px;
}
.name-brand{
    margin-top: 50%;
}

.header-right{
    margin-right: 100px;
}
.nav{
    list-style: none;
}
.nav li{
    display: inline;
    padding-left: 10px;
}
.nav li a {
    text-decoration: none;
    color: rgb(211, 38, 38);
}

.container-nav {
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.background-search img{
    height: 200px;
    width: inherit;
}
.input-search{
    width: 30%;
}
.btn-search{
    background-color: rgba(250, 59, 59, 0.849);
    border: none;
    border-radius: 3px;
    font-size: 15.5px;
    color: white;
}
.list-food{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.explore-food{
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
}
.list-food li {
    width: 250px;
    height: 350px;
}

.list-food li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}