.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    ml
}
.name-brand{
    margin-top: 50%;
}

.header-right{
}
.nav{
    list-style: none;
}
.nav li{
    display: inline;
}
.nav li a {
    text-decoration: none;
    color: rgb(211, 38, 38);
}